* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg {
  background-color: rgb(192, 192, 192);
}
.box {
  max-width: 350px;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(211, 248, 236);
}
.ih {
  font-size: 18px;
  font-weight: 500;
}
/* Login Page */
.login-main {
  padding: 1rem;
}
.login-heading {
  margin-top: 1rem;
}

/* Registration Page */
.register-main {
  max-width: 350px;
  margin-inline: auto;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .bg {
    background-color: lightblue;
  }
  /* Login Page */
  .login-heading {
    margin-top: 0rem;
  }
}
